<ul id="seo">
    <li>
        <%= link_to "acura", makes_acura_path %>
    </li>
    <li>
        <%= link_to "alfa", makes_alfa_romeo_path %>
    </li>
    <li>
        <%= link_to "amc", makes_amc_path %>
    </li>
    <li>
        <%= link_to "aston", makes_aston_martin_path %>
    </li>
    <li>
        <%= link_to "audi", makes_audi_path %>
    </li>
    <li>
        <%= link_to "bently", makes_bently_path %>
    </li>
    <li>
        <%= link_to "bmw", makes_bmw_path %>
    </li>
    <li>
        <%= link_to "buick", makes_buick_path %>
    </li>
    <li>
        <%= link_to "cadillac", makes_cadillac_path %>
    </li>
    <li>
        <%= link_to "chevy", makes_chevrolet_path %>
    </li>
    <li>
        <%= link_to "chrysler", makes_chrysler_path %>
    </li>
    <li>
        <%= link_to "daewoo", makes_daewoo_path %>
    </li>
</ul>

<%= asset_url("seo-test.js") %>