
<select onchange="var href=this[this.selectedIndex].value;if(href!=''){window.location.href=href};">
    <option value="<%= makes_acura_path %>">
        Acura
    </option>
    <option value="<%= makes_alfa_romeo_path %>">
        Alfa Romeo
    </option>
    <option value="<%= makes_amc_path %>">
        AMC
    </option>
    <option value="<%= makes_aston_martin_path %>">
        Aston Martin
    </option>
    <option value="<%= makes_audi_path %>">
        Audi
    </option>
</select>