<!DOCTYPE html>
<html>
<head>
  <title>SeoTest</title>
  <meta name="google-site-verification" content="iWJkZlynHHGnKDZ73FFQJi2_xTxPozfSlbhizAtFQTw" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'block/seo-test' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
